table {
    width: 100%;
    border-collapse: collapse;
    
    tr {
        border-top: 1px solid #dee2e6;
        height: 70px;
        
        th {
            text-align: left;
        }
        
        td {
            padding: 5px 8px;
            height: 30px;
            font-size: .875rem;
            vertical-align: middle;
            
            .coin-img {
                width: 1.5rem;
                margin-right: 10px;
            }
            
            .coin-symbol {
                text-transform: uppercase;
            }
        }
        
        .price-success {
            color: #16c784;
        }
        
        .price-danger {
            color: #ea3943;
        }
    }
}

